.entity-line__about-text{
  transition: height .2s ease-in-out;
  &.less{
    height:100px!important;
  }

  &-more{
    position: relative;
    .more{
      display: none;
    }
    &:before {
      content: '';
      background-image: linear-gradient(rgba(255,255,255,0),#fff);
      height: 80px;
      position: absolute;
      top: -81px;
      left: 0;
      width: 100%;
      pointer-events: none;
      display: block;
      opacity: 0;
      transition: opacity .2s linear;
    }
  }
  &.less ~ &-more{
    &:before{
      opacity: 1;
    }
    .less{
      display: none;
    }
    .more{
      display: block;
    }
  }
}