$font-bold: "ProximaNova-Bold", sans-serif;


.entity-line__about-text{
  transition: height .2s ease-in-out;
  &.less{
    height:100px!important;
  }

  &-more{
    position: relative;
    .more{
      display: none;
    }
    &:before {
      content: '';
      background-image: linear-gradient(rgba(255,255,255,0),#fff);
      height: 80px;
      position: absolute;
      top: -81px;
      left: 0;
      width: 100%;
      pointer-events: none;
      display: block;
      opacity: 0;
      transition: opacity .2s linear;
    }
  }
  &.less ~ &-more{
    &:before{
      opacity: 1;
    }
    .less{
      display: none;
    }
    .more{
      display: block;
    }
  }
}
.appointment_form{
    margin: 10px 0 20px;
      @media(max-width: 768px) {
        .appointment-book-small__price {
            width: 100%;
        }
        .appointment-book-small__book-btn{
            margin: auto;
        }
      }
}

.error-report__heading{
    text-align: center;
    font-size: 16px;
    font-family: "ProximaNova-Bold", sans-serif;
    margin-bottom: 10px;
}
.error-report__input-line div{
    margin-bottom: 10px;
}
.search-result__spec-descr{
    background: #F3F3F3;
    color: #454545;
    text-align: center;
    padding: 10px 0;
    
    p{
        font-size: 16px;
    }
}
#topPagination, #bottomPagination{
    display: none;
}

.breadcrumb li{
    font-size: 14px;
}
.mobile--doctor__filter{
    display: none;
}
.result-control-bar{
    border-bottom: none;
}
.doctor-bar{
    margin: auto;
    padding-bottom:0;
    
    #filtersGroup{
        display: block;
    }
}

.entity-line__share{
    &--mob{
        @media(min-width: 768px) {
            display: none;
        }
        width: 100%;
        font-size: 14px;
        color: #ffffff;
        div{
            display: flex;
            text-align: center;

            a{
                width: 100%;
                padding: 12px 0;

                i{
                    margin-right: 5px;
                }
            }
            .facebook {
                background-color:#3b5998;

                &:hover{
                    background-color:#2d4373;
                }
            }
            .whatsapp{
                background-color: #25D366;

                &:hover{
                    background-color:#189447;
                }
            }
            .telegram{
                background-color: #0088CC;

                &:hover{
                    background-color: #004c71;
                }
            }
        }
    }
    &--decs{
        text-align: center;
        float: right;
        margin-top: 10px;
        
        @media(max-width: 768px) {
            display: none;
        }
        .social{
            border: 0.5px solid #DDDDDD;
            border-radius: 16px;
            padding: 9px 16px;
            width: 100%;
            max-width: 175px;
            font-size: 12px;
            
            a{
                width: 100%;
                padding: 3px;
                font-size: 16px;
            }
            .facebook {
                color:#3b5998;

                &:hover{
                    color:#2d4373;
                }
            }
            .whatsapp{
                color: #25D366;

                &:hover{
                    color:#189447;
                }
            }
            .telegram{
                color: #0088CC;

                &:hover{
                    color: #004c71;
                }
            }
        }
    }
    

}

.doctor-result__list{
    
    .search-result__city-name{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        
        .search_icon{
            height: 20px;
            width: 20px;
            margin-right: 20px;
        }
        
        h1{
            font-family: $font-bold;
            font-size: 24px;
            line-height: 28px;
            color: #808080;
            margin-right: 16px;
        }
        span{
            background-color: #F5F5F5;
            font-size: 13px;
            line-height: 14px;
            padding: 6px 7px;
        }
    }
    .doctor_list{
        .doc-line{
            margin-bottom: 24px;
            padding: 24px 35px;
            border: 0.5px solid #DFDFDF;
            
            .mob--switch_rating{
                display: none;
            }
            
            &:hover{
               background-color: #DFDFDF; 
            }
            .appointment-book-big{
                position: relative;
                padding-top: 0;
                
                .appointment-book-big__price-text, .doc-line__address-heading{
                    color: #BEBEBE;
                    font-size: 16px;
                }
                .appointment-book-big__price-val{
                    font-family: $font-bold;
                    font-size: 24px;
                    line-height: 28px;
                    color: #FA6783;
                }
                .doc-line__address-heading{
                    margin-bottom: 8px;
                }
                .doc-line__address-list{
                    line-height: 19px;
                    font-size: 16px;
                    
                    .doc-line__address-clinic-link{
                        text-decoration: none;
                    }
                }
                
                .appointment-book-big__timeline{
                    position: absolute;
                    right: -18px;
                    top: 37%;
                }
            }
            
            .entity-line__main{
                width: 40%;
                margin-right: 0;
                position: relative;
                
                .entity-line__name{
                    font-size: 20px;
                }
                .entity-line__descr{
                    color: #303030;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: none;
                    width: 100%;
                    max-width: 350px;
                    height: 60px;
                    margin-top: 10px;
                }
                .entity-line__features{
                    display: block;
                    
                    .entity-line__feature{
                        margin-top: 0;
                        
                        .doctor-mobile-price{
                            display: none;
                        }
                    }
                    
                    .entity-line__qualification{
                        margin-left: 10px;
                        color: #000000;
                        font-size: 16px;
                    }
                }
            }
            .appointment-book-big{
                padding: 0;
            }
            
        }
    }
}
@media(max-width: 768px){
    .mobile--doctor__filter{
        display: flex;
        justify-content: space-around;
        padding: 12px;
        position: absolute;
        top:0;
        right: 0;
        
        div{
            background-color: #DB3B61;
            color: #ffffff;
            font-size: 12.5px;
            line-height: 15px;
            letter-spacing: 0.99px;
            padding: 10px 25px;
            border-radius: 17px;
            display: inline-block;
        }
        
        .mob {
            &--filter{
                &:before{
                    font-family: FontAwesome;
                    content: "\f037";
                    margin-right: 5px;
                }
            }
            &--region{
                &:before{
                    font-family: FontAwesome;
                    content: "\f041";
                    margin-right: 5px;
                }
            }
            &--switch{
                &:before{
                    font-family: FontAwesome;
                    content: "\f03a";
                }
            }
        }
    }
    #search-form{
        position:relative;
        
        .doctor-bar{
            display:none;
        }
        .search-result{
            .container{
                padding: 0;
                .doctor-result__list{
                    .search-result__spec-descr{
                        display: none;
                    }
                    h1{
                        color: #000000;
                        font-size: 20px;
                    }
                }
                .content_scroll__block{
                    
                    .doc-line{
                        padding: 0 0 11px;
                        border: none;
                        border-bottom: 0.5px solid #DEDEDE;
                        border-top: 0.5px solid #DEDEDE;
                        box-shadow: none;
                        margin-bottom: 0;
                        
                        .entity-line__img{
                            margin: 10px 20px;
                            width:40%;
                            
                            img{
                                width: 98px;
                                height: 98px;
                            }
                            
                            .rating-line{
                                
                                .rating-line__val{
                                    font-size: 12px;
                                    color: #787878;
                                    text-align: center;
                                }
                            }
                        }
                        
                        .entity-line__main{
                            width: 45%;
                            
                            .profiles__title{
                                font-size: 16px;
                                line-height: 19px;
                            }
                            .entity-line__descr{
                                font-size: 12px;
                            }
                            .entity-line__features{
                                .entity-line__qualification{
                                    font-size: 12px;
                                }
                                .entity-feature{
                                    display: block;
                                    margin-top: 5px;

                                    .doctor-mobile-price{
                                        display: block;
                                        margin-top: 10px;
                                        font-family: $font-bold;

                                        span{
                                            color: #FA6783;
                                            font-size: 14px;
                                            line-height: 16px;
                                            font-weight: bold;
                                        }
                                    }
                                    .entity-line__label{
                                        margin-top: 0;
                                    }
                                }
                            }
                            
                        }
                        
                        .appointment-book-big{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .doctor_table{
        display: flex;
        flex-wrap: wrap;
        
        .doc-line{
            width: 50%;
            border: 0.5px solid #DEDEDE!important;
            padding: 8px!important;
            text-align: center;
            
            .entity-line__img{
                width: 96%!important;
                margin:10px 0!important;
                
                .mob--switch_rating{
                    display: flex;
                    justify-content: space-between;
                    line-height: 14px;
                    
                    .rating-line__stars i{
                        color: #FFC600;
                    }
                    .entity-thumb-img__reviews{
                        margin: 0;
                        &:before{
                            font-family: FontAwesome;
                            content: "\F087";
                        }
                    }
                }
                
                img{
                    margin: auto;
                }
                
                .rating-line, .entity-thumb-img__bot-line{
                    display: none;
                }
            }
            .entity-line__main{
                width: 96%!important;
                
                .entity-line__descr{
                    height: auto!important;
                }
            }
        }
    }
}