.doctor--image{
  display: block;
  height: 200px;
  max-height: 200px;
  max-width: 200px;
  position: relative;
  overflow: hidden;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 140px;
  object-fit: cover;
  .entity-slider__item & {
    margin: 0 auto;
  }
}

.doc-line,.search-result {
  .doctor--image{
    box-shadow: 0 5px 18px 0 rgba(0,0,0,.06);
  }
}