.pages--service__medcenters{
    
    
    .entity-line__additional{
        background-color: #FCFCFC;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        div{
           flex-basis: 100%;
           text-align: center;
           
           .service-booking-btn{
               padding-top: 10px;
           }
        }
        
        .service-price__heading{
            p{
                font-family: "ProximaNova-bold", sans-serif;
            }
        }
    }
}