/node_modules
/api/storage/framework/sessions
/api/storage/framework/views
/api/storage/logs/laravel.log
/api/vendor
/public/hot
/public/storage
/public/uploads
/public/import
/public/images
/public/photos
/public/idoctor.tar.gz
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.y
npm-debug.log
.env
.env_prod
ide_helper.php
composer.lock
pub.tar
/nbproject/private/