.comment-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 1rem;
}

.comment-avatar {
    height: 100%;
}

.comment-header {
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #399;
}

.comment-author {
    justify-self: start;
    font-weight: bold;
    font-size: 14px;
}

.comment-verified {
    align-self: center;
}

.comment-text {
    padding: 10px;
}

.comment-date {
    color: #999;
    font-weight: bold;
    font-size: 14px;
}

.comment-rate {
    align-self: flex-end;
}

.comment-footer {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #399;
}

.comment-author-info {
    display: flex;
    flex-direction: column;
}

.comment-owner-info {
    display: flex;
    flex-direction: column;
}

.comment-user-rate a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}