
.panel-light {
    border-color: #399;
}

.panel-light .panel-heading, .panel-light .panel-footer {
    background-color: #399;
}

.panel-light .panel-heading h2, .panel-light .panel-heading h3, .panel-light .panel-footer :link, .panel-light .panel-footer :visited {
    color: white;
}

.modal-light, .modal-light .modal-header {
    border-color: #399;
}

.modal-light .modal-header {
    background-color: #399;
}

.modal-light .modal-header * {
    color: white;
}

.modal-light .modal-header h2, .modal-light .modal-header h3 {
    color: white;
}
