html, body {
    padding: 0;
    margin: 0;
    font-size: 10px;
    height: 100%;
}

header, footer, section, aside, nav {
    display: block;
}

label {
    margin-block: 0px;
}

.centred {
    text-align: center;
}

.lefted {
    text-align: left;
}

.righted {
    text-align: right;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.bolded {
    font-weight: bold;
}

.x11 {
    font-size: 1.1em;
}

.x12 {
    font-size: 1.2em;
}

.x14 {
    font-size: 1.4em;
}

.x15 {
    font-size: 1.5em;
}

.x16 {
    font-size: 1.6em;
}

.x17 {
    font-size: 1.7em;
}

.x18 {
    font-size: 1.8em;
}

.x19 {
    font-size: 1.9em;
}

.x20 {
    font-size: 2.0em;
}

.x24 {
    font-size: 2.4em;
}

.x25 {
    font-size: 2.5em;
}

.x26 {
    font-size: 2.6em;
}

.x28 {
    font-size: 2.8em;
}

.x30 {
    font-size: 3em;
}

.x32 {
    font-size: 3.2em;
}

.x34 {
    font-size: 3.4em;
}

.x36 {
    font-size: 3.6em;
}

.x40 {
    font-size: 4.0em;
}

.x46 {
    font-size: 4.6em;
}

.x48 {
    font-size: 4.8em;
}

.x50 {
    font-size: 5.0em;
}

.x53 {
    font-size: 5.3em;
}

.x56 {
    font-size: 5.6em;
}

.x60 {
    font-size: 6.0em;
}

.x70 {
    font-size: 7.0em;
}

.x90 {
    font-size: 9.0em;
}

.x200 {
    font-size: 20em;
}

.proxima_light {
    font-family: 'proximalight', Arial;
}

.proxima_regular {
    font-family: 'proximaregular', Arial;
}

.proxima_bold {
    font-family: 'proximabold', Arial;
}

.proxima_black {
    font-family: 'proximablack', Arial;
}

.black {
    color: #000 !important;
}

.white {
    color: #fff !important;
}

.uppercased {
    text-transform: uppercase;
}

.inlined {
    display: inline-block !important;
    vertical-align: middle;
}

.inlined-no {
    display: inline-block !important;
    vertical-align: top;
}

.half-width {
    width: 50%;
}

.clearfix {
    height: 0px;
    visibility: hidden;
    clear: both;
}

.line-height-normal {
    line-height: normal;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.xpt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.pt70 {
    padding-top: 70px;
}

.mt20 {
    margin-top: 20px;
}

/* MAIN STYLES */

.header {
    padding: 1em;
}

.header.inner-template {
    background: #fff;
}

.burger-menu {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: 9px;
    /* overflow-x: hidden; */
}

.burger-menu__top {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 3px;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.burger-menu__middle {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.burger-menu__bottom {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    top: 17px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.burger-menu--x .burger-menu__bottom {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.burger-menu--x .burger-menu__top {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.burger-menu--x .burger-menu__middle {
    width: 0px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.partnership-btn {
    position: relative;
    background: #027eac;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    padding: 0px 15px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.partnership-btn:hover {
    background: #00a8ff;
}

.partnership-btn__icon {
    width: 20px;
    height: auto;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;

}

.signup-btn {
    position: relative;
    text-align: center;
    color: #fff;
    line-height: 30px;
    vertical-align: middle;
    padding: 0px 10px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border: 1px solid transparent;
}

.signup-btn:hover {
    color: #fff;
    border-color: #fff;
}

.city-select {
    position: relative;
    text-align: center;
    color: #fff;
    line-height: 33px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    padding: 0px 15px;
}

.city-select__icon {
    width: 15px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    font-family: 'proximaregular', Arial;
    margin-top: -5px;
}

.first-screen {
    background: url('../img/bg.png');
    padding-bottom: 50px;
}

.title-block {
    position: relative;
    margin-top: 25vh;
    margin-bottom: 15vh;
    z-index: 70;
}

.title-block__h1 {
    font-size: 3.6em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-family: 'proximaextrabold', Arial;
}

.title-block__h2 {
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'proximaextrabold', Arial;
}

.navibar {
    width: 100%;
    position: absolute;
    text-align: right;
}

.navibar__nav-item {
    display: inline-block;
    padding: 0px 10px;
    position: relative;
}

.navibar__nav-item:last-of-type {
    margin-left: 50px;
}

.main-search-block {
    position: relative;
    width: 90%;
    border-radius: 2px;
    background: #fff;
    margin-top: 2em;
    padding: 2em;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.04);
    margin: 0 auto;
    z-index: 1;
}

.main-search-block__search-btn {
    display: block;
    border-radius: 50px;
    background: #00a8ff;
    text-align: center;
    color: #fff;
    line-height: 40px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    font-size: 1.4em;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
}

.main-search-block__search-btn:hover {
    background: #027eac;
}

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    position: relative;
    font-size: 1.4em;
    color: #000;
    height: 35px;
    font-family: 'proximaregular';
}

.select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-bottom: 1px solid #cfcfcf;
    padding: 9px 0px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.select-styled:after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('../img/icons/select.png');
    top: 12px;
    right: 0px;
}

.select-styled:active, .select-styled.active {
    background-color: #fff;
    border-bottom: 1px solid #02a0f2;
}

.select-styled:active:after, .select-styled.active:after {
    top: 12px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .06);
}

.select-options li {
    margin: 0;
    padding: 10px 0;
    text-indent: 15px;
    border-top: 1px solid #fafafa;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.select-options li:hover {
    color: #454545;
    background: #fafafa;
}

.select-options li[rel="hide"] {
    display: none;
}

.main-search-block .input-block--text {
    border: none;
    outline: none;
    font-family: 'proximaregular', Arial;
    height: 35px;
}

.main-search-block .input-block__input {
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 0px;
    padding-left: 25px;
    border-bottom: 1px solid #cfcfcf;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 1.4em;
    height: 100%;
}

.main-search-block .input-block__input:focus {
    border-bottom: 1px solid #00a8ff;
}

.main-search-block .input-block__input:focus + .input-block__icon {

}

.main-search-block .input-block__icon {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    margin-right: 5px;
    top: 8px;
}

.benefits-block {
    margin-top: 2em;
}

.benefits-item {

}

.benefits-item__icon {
    width: 64px;
    height: 64px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    margin: 10px auto;
}

.benefits-item__icon img {
    width: 100%;
}

.benefits-item__number {
    font-size: 3.6em;
    font-family: 'proximaextrabold', Arial;
    text-align: center;
    color: #fff;
    line-height: 30px;
}

.benefits-item__text {
    font-size: 1.4em;
    font-family: 'proximaregular', Arial;
    text-align: center;
    color: #fff;
}

.doctors-top {
    background: #fcfcfc;
    position: relative;
}

.block-title {
    position: relative;
    font-size: 2.8em;
    text-align: center;
    font-family: 'proximaextrabold', Arial;
    color: #454545;
    padding: 1em;
    padding-bottom: 0px;
}

.block-subtitle {
    position: relative;
    font-size: 1.6em;
    text-align: center;
    font-family: 'proximaregular', Arial;
    color: #454545;
}

.top-doctor-item {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .06);
    padding-top: 30px;
    padding-bottom: 20px;
}

.top-doctor-item__image {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .06);
    line-height: 190px;
    position: relative;
}

.top-doctor-item__photo {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    line-height: 190px;
    position: relative;

}

.top-doctor-item__photo img {
    text-align: center;
}

.top-doctor-item__name {
    text-align: center;
    font-size: 1.8em;
    font-family: 'proximasemibold';
    line-height: 18px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.top-doctor-item__speciality {
    text-align: center;
    font-size: 1.0em;
    text-transform: uppercase;
    font-family: 'proximaregular';
}

.top-doctor-item__favorite-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    line-height: 32px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .06);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

.top-doctor-item__rating-view {
    position: absolute;
    right: 0;
    height: 25px;
    border-radius: 30px;
    padding: 0px 5px;
    width: 60px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    font-size: 1.4em;
    font-family: 'proximabold';
    z-index: 2;
    top: 20px;
}

.rating-view--good {
    background: #00eba5;
}

.top-carousel-paging {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.top-carousel-paging__li {
    display: inline-block;
    margin: 30px 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d1d1d1;
    cursor: pointer;
}

.top-carousel-paging__li--active {
    background: #00a8ff;
    cursor: default;
}

.specialities {
    background-color: #fff;
    background-image: url('../img/white_bg.jpg');
    padding-bottom: 50px;
}

.specialities-block__tabs {
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.specialities-block__tabs li {
    width: 24px;
    height: 24px;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid transparent;
    font-family: 'proximabold', Arial;
    color: #02a0f2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

.specialities-block__tabs li:hover {
    border: 1px solid #454545;
    color: #454545;
}

.specialities-block__column {
    display: block;
    list-style: none;
    width: 100%;
}

.specialities-block__column li {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.specialities-block__column li a {
    font-size: 1.6em;
    font-family: 'proximaregular', Arial;
    color: #007ab9;
}

.specialities-block__column li span {
    font-size: 1.4em;
    font-family: 'proximalight', Arial;
    color: #717171;
    text-align: right;
    float: right;
}

.how-it-works {
    background: #02a0f2;
}

.steps {
    margin-top: 50px;
}

.step__image {
    float: left;
    margin-right: 15px;
}

.step__number {
    width: 100%;
    color: #029ae5;
    font-size: 13em;
    font-family: 'proximaextrabold';
    line-height: 50px;
    text-align: center;

}

.step__icon {
    position: absolute;
    top: 0;
    width: 64px;
    margin: 0 auto;
}

.step__icon img {
    width: 100%;
}

.step__text {
    font-size: 1.8em;
    font-family: 'proximasemibold';
    color: #fff;
    line-height: 18px;
}

.video-block {
    width: 640px;
    height: 337px;
    background: url('../img/video.png');
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-top: 50px;
    position: relative;
}

.video-block__videoframe {
    width: 420px;
    height: 270px;
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.promotion__item {
    margin-bottom: 30px;
}

.promotion__content {
    position: absolute;
    z-index: 2;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.promotion__item:hover .promotion__image__mask {
    background: rgba(0, 0, 0, .5);
}

.promotion__image {
    position: relative;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.promotion__image__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.promotion__content__percentage {
    background: #f8083b;
    font-size: 1.4em;
    font-family: 'proximabold';
    color: #fff;
    padding: 5px;
    width: 50px;
    text-align: center;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, .06);
    margin-top: -23px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.promotion__content__pricing {
    position: absolute;
    bottom: 50px;
}

.promotion__content__title {
    color: #fff;
    font-size: 2em;
    font-family: 'proximabold';
}

.promotion__content__description {
    color: #fff;
    font-size: 1.4em;
    font-family: 'proximaregular';
}

.promotion__old-price {
    color: #fff;
    text-decoration: line-through;
    font-size: 1.6em;
    font-family: 'proximaregular';
    margin-right: 10px;
}

.promotion__new-price {
    color: #fff;
    font-size: 1.6em;
    font-family: 'proximabold';
}

.promotion__content__pricing {
    width: 50%;
}

.promotion__content__more-btn {
    display: block;
    width: 120px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    font-size: 1.4em;
    bottom: 45px;
    right: 50px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    text-decoration: none;
}

.promotion__content__more-btn:hover {
    background: #02a0f2;
    color: #fff;
    border: 1px solid #02a0f2;
}

.main__adv-banner {
    padding-top: 30px;
    width: 100%;
    background: url('../img/bg.png');
    border-radius: 3px;
}

.news {
    background: #f9f9f9;
}

.advertising {
    padding-bottom: 50px;
}

.news__item {
    margin-bottom: 30px;
    position: relative;
}

.news__content {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.news__item:hover .promotion__image__mask {
    background: rgba(0, 0, 0, .5);
}

.news__image {
    position: relative;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.news__image__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.news__content__percentage {
    background: #f8083b;
    font-size: 1.4em;
    font-family: 'proximabold';
    color: #fff;
    padding: 5px;
    width: 50px;
    text-align: center;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, .06);
    margin-top: -23px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.news__content__pricing {
    position: absolute;
    bottom: 50px;
}

.news__content__title {
    color: #fff;
    font-size: 2em;
    font-family: 'proximabold';
    line-height: 18px;
}

.news__content__description {
    width: 50%;
    color: #fff;
    font-size: 1.4em;
    font-family: 'proximaregular';
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: right;
}

.promotion__content__pricing {
    width: 50%;
}

.news {
    padding-bottom: 30px;
}

.news__content__more-btn {
    display: block;
    width: 150px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: left;
    padding-left: 15px;
    color: #fff;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    font-size: 1.4em;
    bottom: 15px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    text-decoration: none;
}

.news__content__more-btn:hover {
    background: #02a0f2;
    color: #fff;
    border: 1px solid #02a0f2;
    width: 160px;
}

.news__content__more-btn:hover .next-arrow {
    margin-left: 15px;
}

.next-arrow {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 14px;
    height: 11px;
    background: url('../img/icons/arrow.png');
    margin-left: 5px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.partners {
    padding-bottom: 30px;
}

.partners__item {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    text-align: center;
}

.partners__item:hover {
    filter: none;
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 1;
}

.news__more-btn {
    display: block;
    width: 150px;
    border: 1px solid #00a8ff;
    border-radius: 50px;
    text-align: center;
    color: #00a8ff;
    line-height: 30px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    font-size: 1.4em;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
}

.news__more-btn:hover {
    background: #02a0f2;
    color: #fff;
    border: 1px solid #02a0f2;
    width: 160px;
}

footer {
    padding: 30px 0px;
    background: #02a0f2;
}

.footer-navs {
    width: 100%;
    display: table;
}

.footer-nav {
    display: table-cell;
    width: 25%;
}

.footer-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-nav__title {
    font-size: 1.8em;
    font-family: 'proximasemibold';
    color: #fff;
    margin-bottom: 5px;

}

.footer-nav__list li {
    font-size: 1.4em;
    font-family: 'proximaregular';
    margin-bottom: 3px;

}

.footer-nav__list li a {
    color: #fff;
}

.contacts__phone .phone__span {
    font-size: 1.4em;
    font-family: 'proximaregular';
}

.contacts__phone .phone__number {
    font-family: 'proximasemibold';
    font-size: 2em;
    color: #fff;
}

.socials__item {
    width: 33px;
    height: 33px;
    background: #007ab9;
    border-radius: 50%;
    line-height: 29px;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border: 1px solid transparent;
}

.socials__item:hover {
    background: #02a0f2;
    border: 1px solid #fff;
}

.socials__item img {
    width: 55%;
    opacity: 1;
}

.contacts__socials {
    width: 65%;
    margin: 10px auto;
}

.contacts__checkin-btn {
    display: block;
    width: 190px;
    border-radius: 50px;
    background: #fff;
    text-align: center;
    color: #454545;
    line-height: 40px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    font-size: 1.4em;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
}

.searchwrap {
    position: relative;
    width: 100%;
}

.searchwrap:after {
    display: block;
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background: url('../img/icons/select.png');
    right: 0;
    top: 10px;
}

.live-search {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
    width: 380px;
    z-index: 358;
    height: 0px;
    overflow-y: scroll;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.live-search--fold {
    height: 350px;
}

.live-search__specs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.results__placeholder {
    font-size: 1.2em;
    font-family: 'proximaregular', Arial;
    color: #454545;
}

.live-search__specs li:first-child {
    font-size: 1.2em;
    padding: 5px;
    padding-left: 25px;
    color: #cfcfcf;
}

.live-search__specs li:not(:first-child) {
    display: block;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #fafafa;
}

.live-search__specs li:last-child {
    border: none;
}

.live-search__specs li {
    padding: 0px 15px;
}

.live-search__specs li:not(:first-child):hover {
    background: #f7f7f7;
}

.live-search__specs li a {
    display: block;
    height: 100%;
    width: 100%;
    font-size: 1.4em;
    font-family: 'proximaregular', Arial;
    color: #007ab9;
    padding: 10px;
    text-decoration: none;
}

.live-search__specs li span {
    font-family: 'proximalight', Arial;
    color: #717171;
    text-align: right;
    float: right;
}

.live-search__doctors {
    padding: 0;
    margin: 0;
    list-style: none;
}

.specs__doctor:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.live-search__doctors li:first-child {
    font-size: 1.2em;
    padding: 5px;
    padding-left: 25px;
    color: #cfcfcf;
}

.specs__doctor {
    padding: 15px;
    border-bottom: 1px solid #fafafa;
}

.specs__doctor-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.specs__doctor-description {
    display: inline-block;
    vertical-align: top;
}

.specs__doctor-photo img {
    width: 100%;
}

.doctor-description__name {
    text-align: left;
    font-size: 1.4em;
    font-family: 'proximasemibold';
    line-height: 10px;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.doctor-description__speciality {
    text-align: left;
    font-size: 1.0em;
    text-transform: uppercase;
    font-family: 'proximaregular';
}

.main-nav-dropdown {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 500;
    height: 0px;
    top: 40px;
    right: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 3px;
}

.main-nav-dropdown:after {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    z-index: 5;
}

.dropdown--fold {
    height: 200px;
}

.dropdown__phone {
    padding: 15px;
    text-align: center;
}

.dropdown__phone .phone__span {
    font-size: 1.2em;
    font-family: 'proximaregular';
    line-height: 14px;
}

.dropdown__phone .phone__number {
    font-family: 'proximasemibold';
    font-size: 1.8em;
    line-height: 20px;
}

.nav-dropdown__item {
    /* padding: 10px; */
    border-bottom: 1px solid #fafafa;
}

.main-nav-dropdown__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.dropdown-item__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s;
}

.dropdown-item__icon img {
    width: 100%;
}

.dropdown-item__text {
    display: inline-block;
    font-size: 1.6em;
    font-family: 'proximasemibold', Arial;
    vertical-align: middle;
}

.nav-dropdown__item {
    position: relative;
    width: 100%;
    min-height: 45px;
    padding-left: 10px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.nav-dropdown__item:hover {
    background: #f7f7f7;
}

.nav-dropdown__item a {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.nav-dropdown__item a:hover {
    text-decoration: none;
    color: #454545;
}

.heart-bg {
    position: absolute;
    width: 625px;
    height: 354px;
    top: -250px;
    right: -50px;
    z-index: 0;
}

.inner-template .signup-btn {
    position: relative;
    text-align: center;
    color: #454545;
    line-height: 30px;
    vertical-align: middle;
    padding: 0px 10px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border: 1px solid transparent;
    filter: invert(20%);
    -webkit-filter: invert(20%);
}

.inner-template .signup-btn:hover {
    position: relative;
    text-align: center;
    color: #454545;
    line-height: 30px;
    vertical-align: middle;
    padding: 0px 10px;
    border-radius: 50px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border: 1px solid #fafafa;
}

.inner-template .city-select {
    position: relative;
    text-align: center;
    color: #454545;
    line-height: 33px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    padding: 0px 15px;
}

.inner-template .city-select__icon {
    filter: invert(20%);
    -webkit-filter: invert(20%);
}

.inner-template .burger-menu {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: 9px;
    /* overflow-x: hidden; */
}

.inner-template .burger-menu__top {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 3px;
    background: #00a8ff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inner-template .burger-menu__middle {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #00a8ff;
    top: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inner-template .burger-menu__bottom {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #00a8ff;
    top: 17px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inner-template .burger-menu--x .burger-menu__bottom {
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.inner-template .burger-menu--x .burger-menu__top {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.inner-template .burger-menu--x .burger-menu__middle {
    width: 0px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.search-screen {
    background: url('../img/gray_bg.jpg');
}

.inner-template.main-search-block {
    position: relative;
    width: 100%;
    border-radius: 2px;
    background: #fff;
    margin-top: 2em;
    padding: 2em;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.04);
    margin: 40px auto;
    z-index: 1;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 1.4em;
    font-family: 'proximaregular';
}

.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #a6a6a6;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .2);
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.styled-checkbox:hover + label:before {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .2);
}

.styled-checkbox:checked + label:before {
    background: #00aeff;
    border: 1px solid #00a0ea;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .2);
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #ddd;

}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    background: url('../img/icons/checkbox.png');
    left: 4px;
    top: 6px;
    width: 10px;
    height: 10px;

}

.search-results {
    padding-top: 20px;
}

.search-results__toolbar {
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.search-results__toolbar__request {
    font-size: 1.8em;
    font-family: 'proximabold';
    line-height: 18px;
}

.search-results__toolbar__results-qty {
    font-size: 1.4em;
}

.sort-container {
    text-align: right;
}

.sort-label {
    display: inline-block;
    margin-right: 10px;
    font-family: 'proximaregular', Arial;
    font-size: 1.4em;
}

.sort-type-item {
    display: inline-block;
    position: relative;
}

.sort-type-item label {
    width: 100%;
    position: relative;
    border-radius: 50px;
    padding: 5px 10px;
    padding-right: 25px;
    border: 1px solid #e4f0ec;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sort-type-item input[type="radio"] {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.sort-type-item input[type="radio"]:hover + label {
    background: #00a8ff;
    color: #fff;
    border: 1px solid #00a8ff;
}

.sort-type-item input[type="radio"]:checked + label {
    background: #00a8ff;
    color: #fff;
    border: 1px solid #00a8ff;
}

.sort-type-item input[type="radio"]:checked + label:after {
    filter: contrast(200%) invert(100%);
    -webkit-filter: contrast(200%) invert(100%);
}

.sort-type-item__order {
    position: relative;
    width: 100%;
    font-family: 'proximaregular', Arial;
    font-size: 1.2em;
}

.sort-type-item__order:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    width: 9px;
    height: 12px;
    top: 8px;
    background: url('../img/icons/sort-arrow.png');
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.sort-type-item:hover .sort-type-item__order:after {
    filter: contrast(200%) invert(100%);
    -webkit-filter: contrast(200%) invert(100%);
}

.search-result-item {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}

.search-result-item__image {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .06);
    line-height: 190px;
    position: relative;
}

.search-result-item__photo {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    line-height: 190px;
    position: relative;
    z-index: 1;
    top: 0px;
}

.search-result-item__photo img {
    text-align: center;
}

.search-result-item__name {
    font-size: 1.8em;
    font-family: 'proximasemibold';
    line-height: 18px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.search-result-item__speciality {
    font-size: 1.0em;
    text-transform: uppercase;
    font-family: 'proximaregular';
}

.search-result-item__favorite-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    line-height: 32px;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .06);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

.search-result-item__ranking {
    text-align: center;
}

.search-result-item__rating-view {
    position: absolute;
    right: 0;
    height: 25px;
    border-radius: 30px;
    padding: 0px 5px;
    width: 60px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    font-size: 1.4em;
    font-family: 'proximabold';
    z-index: 2;
    top: 20px;
}

.search-result-description__params {
    margin-top: 20px;
}

.param__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.param__text {
    display: inline-block;
    vertical-align: middle;
}

.param__text__title {
    font-family: 'proximaregular';
    line-height: 14px;
    font-size: 1.4em;
}

.param__text__data {
    font-family: 'proximasemibold';
    color: #454545;
    font-size: 1.4em;
}

.param__text__link a {
    font-family: 'proximaregular';
    color: #027eac;
    font-size: 1.4em;

}

.second-address {
    position: relative;
}

.second-address:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 30px;
    background: #ededed;
    left: -20px;
    top: 20px;

}

.search-result-ticker {
    background: #06d09e;
    position: relative;
    width: 145px;
    text-align: center;
    padding: 3px;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 10px;
}

.search-results-widget {
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    padding: 15px;
    border-radius: 5px;
    height: 100%;
}

.results-widget-title {
    font-size: 1.4em;
    font-family: 'proximasemibold';
    text-align: center;
}

.results-widget-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.widget-datepick__day-select {
    padding: 0;
    margin: 10px 0px;
    list-style: none;
    text-align: center;
}

.day-option {
    position: relative;
    display: inline-block;
    font-size: 1.4em;

    margin: 0 3%;
    color: #00a8ff;
    cursor: pointer;

}

.day-option input[type="radio"] {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.day-option label {
    font-family: 'proximaregular';
    color: #00a8ff;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.day-option input[type="radio"]:checked + label {
    color: #000;
}

.widget-datepick__time-select {
    padding: 0;
    margin: 0;
    list-style: none;
}

.time-select-item {
    display: inline-block;
    position: relative;
    width: 24.3%;
    text-align: center;
    cursor: pointer;
    margin: 5px 0px;
}

.time-select-item input[type='radio'] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.time-select-item input[type='radio']:checked + label {
    background: #00a8ff;
    color: #fff;
    border: 1px solid #00a8ff;
}

.time-select-item label {
    position: relative;
    border-radius: 50px;
    padding: 2px 15px;
    border: 1px solid #e4f0ec;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 1.4em;
    font-family: 'proximaregular';
}

.time-select-item:hover label {
    background: #00a8ff;
    color: #fff;
    border: 1px solid #00a8ff;
}

.other-time-btn {
    position: relative;
    color: #00a8ff;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    padding-left: 20px;
    margin-left: 10px;
    font-size: 1.4em;
}

.other-time-btn:hover {
    color: #000;
}

.other-time-btn:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 4px;
    width: 13px;
    height: 13px;
    background: url('../img/icons/time.png');
}

.widget-order-section {
    padding-left: 15px;
    margin-top: 20px;
    position: relative;
}

.widget-order-section__order-btn {
    display: block;
    border-radius: 50px;
    background: #00a8ff;
    text-align: center;
    color: #fff;
    line-height: 40px;
    vertical-align: middle;
    font-family: 'proximaregular', Arial;
    font-size: 1.4em;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
}

.widget-order-section__order-btn:hover {
    background: #027eac;
}

.rating-view__rating-digit {
    font-size: 2em;
    font-family: 'proximabold';
    color: #454545;
    display: inline-block;
}

.ranking__rating-view {
    text-align: center;
    margin: 10px auto;
}

.rating-view__rating-stars {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.view-rating-star {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../img/icons/fullstar.png');
}

.ranking__feedbacks, .ranking__marks {
    display: inline-block;
}

.ditem__ranking {
    text-align: center;
}

.ranking__feedbacks__link {
    color: #027eac;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 1.4em;
    border-bottom: 1px dotted #027eac;
}

.ranking__feedbacks__link:hover {
    text-decoration: none;
    border-bottom: 1px dotted transparent;
}

.ranking-marks {
    position: relative;
    display: inline-block;
    font-size: 1.4em;
    width: 35px;
    text-align: left;
}

.ranking-marks:first-child {
    margin-right: 10px;
}

.positive-mark:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: url('../img/icons/like.png');
    right: 0px;
    top: 3px;
}

.negative-mark:after {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background: url('../img/icons/dislike.png');
    right: 0px;
    top: 3px;
}

.ranking__feedbacks {
    margin-right: 10px;
}

.search-result-item {
    border-bottom: 1px solid #f9f9f9;
}

.fa-icon {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0px auto;
    cursor: pointer;
}

.fa-added {
    position: relative;
    background: url('../img/icons/fa_f.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.fa-none {
    position: relative;
    background: url('../img/icons/fa_e.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.fa-none:hover {
    position: relative;
    background: url('../img/icons/fa_f.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.search-result-item__ticker {
    position: absolute;
    padding: 6px 10px;
    background: #06d09e;
    color: #fff;
    font-size: 1.6em;
    line-height: 14px;
    border-radius: 3px;
    z-index: 2;
    left: -5px;
    top: 20px;
}

.search-result-item__ticker-bottom {
    position: absolute;
    width: 50px;
    height: 15px;
    background: #00a47c;
    color: #fff;
    font-size: 1.6em;
    line-height: 14px;
    border-radius: 3px;
    z-index: 0;
    top: 40px;
    left: -5px;
    -webkit-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    -o-transform: skewY(20deg);
    transform: skewY(20deg);
}

.search-result-item__ticker {
    background: #06d09e;
}

.search-result-item__ticker-bottom {
    background: #00a47c;
}

.ads-ticker {
    background: #ffba00;
}

.ads-ticker-bottom {
    background: #d89e00;
}

.pagination__items {
    display: block;
    list-style: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.pagination__items li {
    width: 24px;
    height: 24px;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid transparent;
    font-family: 'proximabold', Arial;
    color: #02a0f2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

.pagination__items li:hover {
    border: 1px solid #454545;
    color: #454545;
}

.search-result-description__text {
    font-family: 'proximaregular';
    font-size: 1.4em;
    color: #454545;
}

.widget-clinic-calendar {
    padding: 0;
    margin: 10px 0px;
    list-style: none;
    text-align: center;
}

.clinic-calendar__days, .clinic-calendar__hours {
    font-size: 1.4em;
    font-family: 'proximaregular';
}

.widget-order-section {
    position: absolute;
    width: 80%;
    bottom: 20px;
}