#search-results {
    min-width: 100%;
}

.root-wrap {
    margin-top: 120px;
}

.page-nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.nav-header-logoandcontacts {
    display: flex;
    width: 390px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-nav-header {
    min-height: 120px;
    background-color: white;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
    border-bottom: 3px solid #399;
    transition: min-height 0.3s ease-out;
}

.page-nav-header.collapsing {
    min-height: 100px;
    transition: min-height 0.3s ease-in;

}

.nav-header-logo img {
    width: 170px;
}

.nav-header-contacts {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0;
    max-width: 180px;
}

.nav-header-social a {
    text-decoration: none;
}

.nav-header-social {
    display: flex;
    max-width: 190px;
    min-height: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.nav-header-social img {
    height: 40px;
    width: 40px;
}

.nav-header-links {
    display: flex;
    flex-direction: row;
    min-width: 380px;
    justify-content: space-between;
}

.nav-header-links img {
    max-width: 27px;
    max-height: 27px;
}

.nav-header-auth {
    display: flex;
    flex-direction: column;
}

.nav-header-links > a {
    display: inline-flex;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transform: scale(1, 1);
    transition: transform ease 0.5s
}

.nav-header-links > a:hover {
    transform: scale(1.2, 1.2);
}

.nav-header-mobile-menu-btn {
    display: none;
}

.nav-header-mobile-menu {
    display: none;
}

.header__login {
    display: inline-block;
}

.header__city {
    display: inline-block;
}

#login-dropdown-toggle {
    font-size: 16px;
    text-decoration: none;
}

.collapsing .collapsing-hide {
    display: none;
}

@media (max-width: 1200px) {

    .page-nav-header {
        min-height: 150px;
    }

    .page-nav-header.collapsing {
        min-height: 60px;
    }
    .collapsing .m-collapsing-hide {
        display: none;
    }

    .nav-header-logoandcontacts {
        width: 300px;
    }

    .nav-header-logo img {
        width: 100px;
    }

    .nav-header-links {
        display: none;
    }

    .nav-header-mobile-menu a, .nav-header-mobile-menu a:link, .nav-header-mobile-menu a:hover, .nav-header-mobile-menu a:visited {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: black;

    }

    .mobile-menu-item {
        align-self: stretch;
        height: 40px;
        padding: 5px 10px;
    }

    .mobile-menu-item:not(:last-child) {
        border-bottom: 1px solid #d6d6d6;
    }

    .mobile-menu-item.mobile-menu-item-group {
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-around;
    }

    .mobile-menu-item.mobile-menu-item-group > * {
        flex-grow: 1;
        text-align: center;
    }

    .mobile-menu-item.mobile-menu-item-group > *:hover {
        background-color: #d6d6d6;
    }

    .mobile-menu-item.mobile-menu-item-group > *:not(:last-child) {
        border-right: 1px solid #d6d6d6;
    }

    .nav-header-mobile-menu-btn, .nav-header-mobile-menu-btn:link, .nav-header-mobile-menu-btn:hover, .nav-header-mobile-menu-btn:visited {

        display: inline-flex;
        font-size: 25px;
        text-decoration: none;
        color: black;
        align-self: center;
    }

    .menu-item-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-item-content:hover {
        background-color: #e1e1e1;
    }

    .mobile-menu-item img {
        max-height: 25px;
        margin-right: 3px;
    }

    .nav-header-mobile-menu {
        position: absolute;
        overflow: auto;
        top: 100%;
        left: 0;
        width: 100%;
        min-height: 100px;
        z-index: -3;
        border-bottom: 3px solid #399;
        background-color: white;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);

        -webkit-transition: -webkit-transform ease 0.5s;
        transition: transform ease 0.5s
    }

    .nav-header-mobile-menu.open {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        z-index: -3;
    }
}

.desktop-hidden {
    display: none;
}

@media (max-width: 600px) {
    .collapsing .s-collapsing-hide {
        display: none;
    }

    .nav-header-logo img {
        width: 120px;
    }

    .desktop-visible {
        display: none;
    }

    .desktop-hidden {
        display: block;
    }

    .page-nav-header {
    }

    .nav-header-contacts {
        max-width: 120px;
        font-stretch: condensed;
        font-size: 14px;
        margin-top: 7px;
    }

    .nav-header-contacts img {
        display: none;
    }

    .nav-header-logoandcontacts {
        max-width: 140px;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .nav-header-social {
        display: none;
    }

    .page-nav-header button {
        max-width: 80px;
        padding: 0;
    }

    .nav-header-mobile-menu-btn, .nav-header-mobile-menu-btn:link, .nav-header-mobile-menu-btn:hover, .nav-header-mobile-menu-btn:visited {
        margin-right: 25px;
        margin-left: 15px;
    }
}

.color-light-green {
    color: #2fc0d7;
}

