.pagination__item {
    display: inline-block !important;
}

.badge-large {
    font-weight: bold;
    font-size: 16px !important;
}
.slider-selection {
    background-image: none;
    background: #337ab7;
}

.call-collapse {
    color: white !important;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: none
}

.call-expand {
    width: 200px;
}

.slim-scroll {
    overflow-y: scroll !important;
    border: 1px solid #ddd;
}

.slim-scroll::-webkit-scrollbar-track {
    background-color: white;

    border-left: 1px solid #ddd;
}

.slim-scroll::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.slim-scroll::-webkit-scrollbar-thumb {
    background-color: #797979;
    background-clip: content-box;
    border: 2px solid transparent;
    border-left-width: 3px;
}

.doctor-item-content {
    width: 74%;
    background-color: #f5f5f57a;
    border: 5px solid #33999980;
    border-radius: 10px;
    padding: 15px 20px;
}

.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.badge-error {
    background-color: #b94a48;
}

.badge-error:hover {
    background-color: #953b39;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.badge-success {
    background-color: #468847;
}

.badge-success:hover {
    background-color: #356635;
}

.badge-info {
    background-color: #3a87ad;
}

.badge-info:hover {
    background-color: #2d6987;
}

.badge-inverse {
    background-color: #333333;
}

.badge-inverse:hover {
    background-color: #1a1a1a;
}

.pretty_profile {
    background-color: rgba(57, 255, 174, 0.1);
}

.tooltip {
    z-index: 800;
}

.profile-item {
    margin-top: 20px;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-img-box {
    width: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile-title-box {
    text-align: left;

}

.profile-title {
    margin-top: 20px;
}

.profile-title-extra {
    font-size: 12px;
    line-height: 1.5;
    color: #999;
    word-spacing: 10px;
    margin: 0;
    margin-bottom: 10px;
}

.profile-right {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    justify-content: flex-start;
}

.profile-body-right {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    justify-content: flex-start;
}

.profile-header {
    background: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.profile-body {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

a.link-primary, a.link-primary:visited, a.link-primary:link {
    color: #399;
}

.mobile-ditetime{
    display: none;
}

@media (max-width: 720px) {
    .desktop-ditetime{
        display: none;
    }
    .mobile-ditetime{
        display: block;
    }
}