.btn{
  &.saving {
    color: transparent;
    position:relative;
    &:after {
      content: " ";
      display: block;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: spin .5s linear infinite;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: calc(50% - 9px);
      bottom: 0;
    }
  }
}
.btn_cancel{
    background-color: transparent;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid;
    border-color: #B2B2B2;
    padding: 0 12px;
    color: #454545;
    
    &:hover{
        background-color: #454545;
        color: #ffffff;
    }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}