body{
  background-color: #333;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 9pt;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 2px;
  user-select: none;
  & > *{
    pointer-events: none;
  }
}
.grid__maker{
  max-width: 100%;
  min-height: 20vh;
  padding: 24px;
  background-color: #eee;
  margin:0 auto;
  display: block;
  position: relative;
  p {
    margin: 0 0 10px;
  }
}

.col{
  $k:2;
  @while $k <= 12 {
    &_#{$k}{
      $i: 0;
      $base_width:100/$k;
      @while $i <= $k {
        *[data-width='#{$i}'] {
          @include column_item_width($base_width,$i);
          flex-shrink: 0;
        }
        .empty[temp_width='#{$i}'] {
          @include column_item_width($base_width,$i);
          flex-shrink: 0;
        }
        $i: $i + 1;

      }

    }
    $k: $k + 1;
  }

}

.ghost {
  opacity: 0.4;
}