
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import "../../../node_modules/toastr/toastr";

@import "../css/normalize.css";
@import "../css/slick.css";
@import "../css/lightbox.min.css";
@import "../css/font-awesome.min.css";
@import "../css/selectize.default.css";
@import "../css/hover-icon.css";
@import "../css/pickmeup.css";
@import "../css/magnific-popup.css";
@import "../css/main_new.css";
@import "../css/public_new.css";


@import "modules/breadcrumbs";
@import "modules/doctor/image";
@import "modules/doctor/profile";
@import "modules/question/list";
@import "modules/question/landing";
@import "modules/profile/main";
@import "modules/registration/base";
@import "modules/articles/main";
@import "modules/medcenter/gallery";
@import "modules/grid/base";
@import "partial/header";
@import "partial/footer";
@import "partial/embed";
@import "partial/btn";
@import "partial/radio";
@import "partial/search";
@import "modules/service/base";
@import "modules/service/index";
@import "modules/service/list";
@import "modules/service/medcenters"; 

.blur {
  -webkit-filter: url(#blur);
  filter: url(#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  -webkit-transition: 0.3s -webkit-filter linear;
  transition: 0.3s filter linear;
}
