@import "clearfix";
@import "text-emphasis";
@import "text-overflow";
@import "image";
@import "opacity";
@import "vendor-prefixes";

@mixin column_item_width($base,$i) {
  @if $i == 0{
  display: none;
  }
  width:  $base*$i*1%;
  flex-basis: $base*$i*1%;
}