.grid{
  &__item{
    &--image{
      .editable{
        width: 35%;
        &.image_alt{
          margin-right: 10px;
        }
      }
      .image__placeholder{
        border:none;
        .preview{
          .dz-preview{
            width:100%;
            margin: 0;
            background-color: transparent;
            .dz-image{
              width: 100%;
              border-radius: 0;
              img{
                width: 100%;
              }
            }
            .dz-details{
              display: none;
            }
            .dz-error-message{
              top: 0;
              left: 0;
              width: 100%;
              &:after{
                display:none;
              }
            }
          }
        }
      }
    }
  }
}