.section-article__article-header{
    
    .article__title{
        
        h1{
            font-weight: bold;
            font-size: 36px;
            line-height: 44px;
        }
    }
    
}
.section-article__content{
    padding-top: 40px;
    @media(max-width: 768px){
        flex-wrap: wrap;
        .article__aside-desktop{
            flex-basis: 100%;
            padding-left:0;
        }
        .article-content__aside{
            padding-left: 0;
        }
    }
}

.blog-list__list-item{
    a{
        &:hover ~ .blog-item__bot-line{
            a{
                &:first-child{
                    display: none;
                }
                background: #00A8FF;
                border-color: #00A8FF;
                text-decoration: none;
            }
            
        }
    }
    .blog-item__bot-line{
        a{
            &:first-child{
                display: none;
            }
        }
    }
}
