.page--lvg {
  &__vote {

    .main {
      margin-top: 24px;
      padding: 0 64px;
      .card {
        opacity: 1;
        transform: translateX(0);
        &.hide {
          opacity: 0;
          transform: translateX(200px);
          position: absolute;
          @media (max-width: 768px) {
            transform: translateX(-200px);
          }
        }
      }
      h2 {
        font-family: $font-bold;
        font-size: 26px;
        line-height: 24px;
        color: rgb(69, 69, 69);
        margin-bottom: 20px;
        text-align: center;
      }

      .vote--form {
        padding: 32px;;
        h5 {
          font-size: 15px;
          margin-bottom: 24px;
        }
        .form--buttons{
          padding-top:6px;
        }
        .form--row {
          display: flex;
          margin-bottom: 26px;
          &.add_doctor{
            color: #00a8ff;
            align-items: center;
            cursor: pointer;
            display: inline-flex;
            i{
              font-style: normal;
              border: 1px solid #00a8ff;
              padding: 0 4px;
              line-height: 1;
              font-size: 18px;
              border-radius: 5px;
              font-weight: bold;
              margin-right: 6px;
            }
          }
          .form--input {
            padding: 0 12px;
            width: 25%;
            input.error{
              &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(darkred,.7);
              }
            }
            &:first-child {
              padding-left: 0;
            }
            &:last-child{
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}