$font-regular: "ProximaNova-Regular", sans-serif;
$white: #fff;
$margin_a : auto;
$margin_t: 20px;
$width: 100%;


@media(max-width: 768px){

}
.registration-block, .restore_block{
    padding: 40px 0;
    
    .section-heading__text{
        font-family: $font-regular;
        text-align: center;
    }
    .registration-body{
        width: $width;
        max-width: 600px;
        margin: $margin_a;
        padding: 20px;
        background: $white;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
        
        form{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            width: $width;
            margin-top: $margin_t;
            
            .form-group{
                width: $width;
                margin: 10px 0;
                
                .selectize-control.single .selectize-input{
                    font-size: 14px;
                    padding: 0 5px;
                    height: 30px;
                    font-family: $font-regular;
                    color: #454545;
                    font-weight: normal;
                }
            }
            .registration-btn-block{
                margin-top: $margin_t;
                text-align: center;
            }
        }
    }
}
.restore_block {
    .section-heading__text{
        font-family: "ProximaNova-Regular", sans-serif;
        text-align: center;
    }
    .restore_body{
        width: $width;
        max-width: 600px;
        margin: auto;
        padding: 20px;
        background: #fff;
        border-radius: 2px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.09);
        
        .text-center{
            font-size: 14px;
            color: #989898;
            margin: 5px;
        }
        .form-group{
            width: $width;
            margin: 10px 0;
            
            a{
                font-size: 12px;
                color: #989898;
                margin: 5px;
            }
        }
        .registration-btn-block{
            margin-top: 20px;
            text-align: center;
        }
    }
    
}
    